# SQL SERVER

SQLSERVER_HOST=localhost

SQLSERVER_PORT=1433

SQLSERVER_DATABASE=AdventureWorks2022

SQLSERVER_USER=sa

SQLSERVER_PASSWORD=senha


# POSTGRES

POSTGRES_HOST=localhost

POSTGRES_PORT=5432

POSTGRES_DATABASE=dw_adventureworks

POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres
